<?xml version="1.0"?>
<config>
    <modules>
        <Dangnd_Album>
            <version>0.1.0</version>
        </Dangnd_Album>
    </modules>
    <global>
        <models>
            <dangnd_album>
                <class>Dangnd_Album_Model</class>
                <resourceModel>dangnd_album_resource</resourceModel>
            </dangnd_album>
            <dangnd_album_resource>
                <class>Dangnd_Album_Model_Resource</class>
                <entities>
                    <album>
                        <table>final_album</table>
                    </album>
                    <image>
                        <table>final_image</table>
                    </image>
                </entities>
            </dangnd_album_resource>
        </models>
        <blocks>
            <dangnd_album>
                <class>Dangnd_Album_Block</class>
            </dangnd_album>
        </blocks>
        <helpers>
            <dangnd_album>
                <class>Dangnd_Album_Helper</class>
            </dangnd_album>
        </helpers>
        <resources>
            <dangnd_album_setup>
                <setup>
                    <module>Dangnd_Album</module>
                </setup>
            </dangnd_album_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dangnd_Album before="Mage_Adminhtml">Dangnd_Album_Adminhtml</Dangnd_Album>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>