<config>
    <modules>
        <Luannt3_Assignment7>
            <version>0.1.0</version>
        </Luannt3_Assignment7>
    </modules>
    <frontend>
        <routers>
            <Assignment7>
                <use>standard</use>
                <args>
                    <module>Luannt3_Assignment7</module>
                    <frontName>ass7</frontName>
                </args>
            </Assignment7>
        </routers>
        <!--<layout>-->
            <!--<updates>-->
                <!--<Luannt3_Assignment7>-->
                    <!--<file>luannt3_assignment7.xml</file>-->
                <!--</Luannt3_Assignment7>-->
            <!--</updates>-->
        <!--</layout>-->
    </frontend>
        <global>
            <helpers>
                <luannt3_assignment7>
                    <class>Luannt3_Assignment7_Helper</class>
                </luannt3_assignment7>
            </helpers>
            <resources>
                <luannt3_assignment7_setup>
                    <setup>
                        <module>Luannt3_Assignment7</module>
                    </setup>
                </luannt3_assignment7_setup>
            </resources>
            <blocks>
                <assignment7block>
                    <class>Luannt3_Assignment7_Block</class>
                </assignment7block>
            </blocks>
            <models>
                <assignment7>
                    <class>Luannt3_Assignment7_Model</class>
                    <resourceModel>assignment7_resource</resourceModel>
                </assignment7>
                <assignment7_resource>
                    <class>Luannt3_Assignment7_Model_Resource</class>
                    <entities>
                        <menu_item>
                            <table>menu_item</table>
                            <table>mega_menu</table>
                        </menu_item>

                    </entities>
                </assignment7_resource>

            </models>
            <resources>
                <luannt3_assignment7_setup>
                    <setup>
                        <module>Luannt3_Assignment7</module>
                    </setup>
                </luannt3_assignment7_setup>
            </resources>
        </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Luannt3_Assignment7 after="Mage_Adminhtml">Luannt3_Assignment7_Adminhtml</Luannt3_Assignment7>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
