<?xml version="1.0"?>
<config>
    <modules>
        <DuongDD_Demoproduct>
            <version>0.1.0</version>
        </DuongDD_Demoproduct>
    </modules>
    <global>
        <resources>
            <demoproduct_setup>
                <setup>
                    <module>DuongDD_Demoproduct</module>
                </setup>
            </demoproduct_setup>
        </resources>
        <models>
            <demoproduct>
                <class>DuongDD_Demoproduct_Model</class>
            </demoproduct>
        </models>
        <events>
            <catalog_product_collection_load_after>
                <observers>
                    <changelistprice>
                        <class>demoproduct/observer</class>
                        <method>changeListPrice</method>
                    </changelistprice>
                </observers>
            </catalog_product_collection_load_after>
            <catalog_controller_product_view>
                <observers>
                    <changeviewprice>
                        <class>demoproduct/observer</class>
                        <method>changeViewPrice</method>
                    </changeviewprice>
                </observers>
            </catalog_controller_product_view>
            <checkout_cart_product_add_after>
                <observers>
                    <changecartprice>
                        <class>demoproduct/observer</class>
                        <method>changeCartPrice</method>
                    </changecartprice>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </global>
</config>
