<?xml version="1.0"?>
<config>
    <modules>
        <Dangnd_Asm7>
            <version>0.1.0</version>
        </Dangnd_Asm7>
    </modules>
    <global>
        <helpers>
            <dangnd_asm7>
                <class>Dangnd_Asm7_Helper</class>
            </dangnd_asm7>
        </helpers>
        <resources>
            <asm7_setup>
                <setup>
                    <module>Dangnd_Asm7</module>
                </setup>
            </asm7_setup>
        </resources>
        <blocks>
            <asm7>
                <class>Dangnd_Asm7_Block</class>
            </asm7>
        </blocks>
        <models>
            <asm7>
                <class>Dangnd_Asm7_Model</class>
                <resourceModel>asm7_resource</resourceModel>
            </asm7>
            <asm7_resource>
                <class>Dangnd_Asm7_Model_Resource</class>
                <entities>
                    <megamenu>
                        <table>asm7_megamenu</table>
                    </megamenu>
                </entities>
            </asm7_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <testroute>
                <use>standard</use>
                <args>
                    <frontName>asm7</frontName>
                    <module>Dangnd_Asm7</module>
                </args>
            </testroute>
        </routers>
        <layout>
            <updates>
                <dangnd_asm7>
                    <file>asm7.xml</file>
                </dangnd_asm7>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dangnd_Asm7 after="Mage_Adminhtml">Dangnd_Asm7_Adminhtml</Dangnd_Asm7>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>

