<?xml version="1.0"?>
<config>
    <modules>
        <Tungtt_SinhVien>
            <version>0.1.0</version>
        </Tungtt_SinhVien>
    </modules>
    <frontend>
        <routers>
            <Tungtt_SinhVien>
                <use>standard</use>
                <args>
                    <module>Tungtt_SinhVien</module>
                    <frontName>sinhvien</frontName>
                </args>
            </Tungtt_SinhVien>
        </routers>
        <layout>
            <updates>
                <listsinhvien>
                    <file>listsinhvien.xml</file>
                </listsinhvien>
                <editsinhvien>
                    <file>editsinhvien.xml</file>
                </editsinhvien>
                <addsinhvien>
                    <file>addsinhvien.xml</file>
                </addsinhvien>
            </updates>
        </layout>
    </frontend>
    <global>
            <blocks>
                <demomodule>
                    <class>Tungtt_SinhVien_Block</class>
                </demomodule>
            </blocks>
        <resources>
            <sinhvien_setup>
                <setup>
                    <module>Tungtt_SinhVien</module>
                </setup>
            </sinhvien_setup>
        </resources>
        <models>
            <sinhvien>
                <class>Tungtt_SinhVien_Model</class>
                <resourceModel>sinhvien_resource</resourceModel>
            </sinhvien>
            <sinhvien_resource>
                <class>Tungtt_SinhVien_Model_Resource</class>
                <entities>
                    <student>
                        <table>student</table>
                    </student>
                </entities>
            </sinhvien_resource>
        </models>
    </global>
</config>
