<config>
    <modules>
        <Tungtt_SinhVien>
            <version>0.1.0</version>
        </Tungtt_SinhVien>
    </modules>
    <global>
        <resources>
            <tungtt_sinhvien_setup>
                <setup>
                    <module>Tungtt_SinhVien.xml</module>
                </setup>
            </tungtt_sinhvien_setup>
        </resources>
        <blocks>
            <demomodule>
                <class>Tungtt_Sinhvien_Block</class>
            </demomodule>
        </blocks>
    </global>
    <frontend>
        <routers>
            <sinhvien>
                <use>standard</use>
                <args>
                    <module>Tungtt_SinhVien</module>
                    <frontName>sinhvien</frontName>
                </args>
            </sinhvien>
        </routers>
        <layout>
            <updates>
                <listsinhvien>
                    <file>listsinhvien.xml</file>
                </listsinhvien>
                <editsinhvien>
                    <file>editsinhvien.xml</file>
                </editsinhvien>
                <addsinhvien>
                    <file>addsinhvien.xml</file>
                </addsinhvien>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <tungtt_sinhvien>
                <class>Tungtt_SinhVien_Model</class>
                <resourceModel>sinhvien_resource</resourceModel>
            </tungtt_sinhvien>
            <tungtt_sinhvien_resource>
                <class>Tungtt_SinhVien_Model_Resource</class>
                <entities>
                    <sinhvien>
                        <table>tungtt_sinhvien</table>
                    </sinhvien>
                </entities>
            </tungtt_sinhvien_resource>
        </models>
        <resources>
            <tungtt_sinhvien_setup>
                <setup>
                    <module>Tungtt_SinhVien</module>
                    <class>Tungtt_SinhVien_Model_Resource_Setup</class>
                </setup>
            </tungtt_sinhvien_setup>
        </resources>
    </global>
</config>