<?xml version="1.0"?>

<config>
    <modules>
        <Dangnd_Assignment4>
            <version>0.1</version>
        </Dangnd_Assignment4>
    </modules>
    <frontend>
        <routers>
            <Assignment4>
                <use>standard</use>
                <args>
                    <module>Dangnd_Assignment4</module>
                    <frontName>asm4</frontName>
                </args>
            </Assignment4>
        </routers>
    </frontend>
    <global>
        <blocks>
            <myblock>
                <class>Dangnd_Assignment4_Block</class>
            </myblock>
        </blocks>
    </global>
</config>
