<?xml version="1.0"?>
<config>
    <modules>
        <Hungbd_Assign61>
            <version>0.1.0</version>
        </Hungbd_Assign61>
    </modules>
    <frontend>
        <routers>
            <Assign61>
                <use>standard</use>
                <args>
                    <module>Hungbd_Assign61</module>
                    <frontName>asign61</frontName>
                </args>
            </Assign61>
        </routers>
        <layout>
            <updates>
                <mylayout>
                    <file>assign61.xml</file>
                </mylayout>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <assign61>
                <class>Hungbd_Assign61_Model</class>
                <resourceModel>assign61_resource</resourceModel>
            </assign61>
            <assign61_resource>
                <class>Hungbd_Assign61_Model_Resource</class>
                <entities>
                    <sinhvien>
                        <table>sinhvien</table>
                    </sinhvien>
                </entities>
            </assign61_resource>
        </models>
        <resources>
            <Hungbd_Assign61_setup>
                <setup>
                    <module>Hungbd_Assign61</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Hungbd_Assign61_setup>
        </resources>
    </global>
</config>