<?xml version="1.0"?>
<config>
    <modules>
        <Anhnt9_Assignment6>
            <version>0.1.0</version>
        </Anhnt9_Assignment6>
    </modules>
    <frontend>
        <routers>
            <Anhnt9_Assignment6>
                <use>standard</use>
                <args>
                    <module>Anhnt9_Assignment6</module>
                    <frontName>student-sm6</frontName>
                </args>
            </Anhnt9_Assignment6>
        </routers>
        <layout>
            <updates>
                <assignment6_index_index>
                    <file>student.xml</file>
                </assignment6_index_index>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <myblock>
                <class>Anhnt9_Assignment6_Block</class>
            </myblock>
        </blocks>
        <resources>
            <assignment6_setup>
                <setup>
                    <module>Anhnt9_Assignment6</module>
                </setup>
            </assignment6_setup>
        </resources>
        <models>
            <test>
                <class>Anhnt9_Assignment6_Model</class>
                <resourceModel>test_resource</resourceModel>
            </test>
            <test_resource>
                <class>Anhnt9_Assignment6_Model_Resource</class>
                <entities>
                    <student>
                        <table>student</table>
                    </student>
                </entities>
            </test_resource>
        </models>
    </global>
</config>