#h1{
    background-color: green;
    width: 100%;
    height: 100px;
}
#h2{
    background-color:red;
}
#h3{
    background-color:yellow;
}
#h4{
    background-color:orange;
}#h5{
     background-color:#0A246A;
 }
#h6{
    background-color:#1E7EC8;
}#h7{
     background-color:darkmagenta;
 }

