<?xml version="1.0" ?>
<config>
    <modules>
        <Ass6_Sinhvien>
            <version>0.1.0</version>
        </Ass6_Sinhvien>
    </modules>
    <frontend>
        <routers>
            <sinhvientest>
                <use>standard</use>
                <args>
                    <module>Ass6_Sinhvien</module>
                    <frontName>sinhvientest</frontName>
                </args>
            </sinhvientest>
        </routers>
    </frontend>
    <global>
        <models>
            <Ass6_Sinhvien>
                <class>Ass6_Sinhvien_Model</class>
                <resourceModel>Ass6_Sinhvien_resources</resourceModel>
            </Ass6_Sinhvien>
            <Ass6_Sinhvien_resources>
                <class>Ass6_Sinhvien_Model_Resource</class>
                <entities>
                    <student>
                        <table>student</table>
                    </student>
                    <teststudent>
                        <table>ass6_sinhvien_teststudent</table>
                    </teststudent>
                </entities>
            </Ass6_Sinhvien_resources>
        </models>
        <resources>
            <ass6_sinhvien_setup>
                <setup>
                    <module>Ass6_Sinhvien</module>
                </setup>
            </ass6_sinhvien_setup>
        </resources>
    </global>
</config>