<?xml version="1.0"?>
<config>
    <modules>
        <Hungbd_Album>
            <version>0.1.0</version>
        </Hungbd_Album>
    </modules>
    <global>
        <models>
            <Hungbd_Album>
                <class>Hungbd_Album_Model</class>
                <resourceModel>Hungbd_Album_resource</resourceModel>
            </Hungbd_Album>
            <Hungbd_Album_resource>
                <class>Hungbd_Album_Model_Resource</class>
                <entities>
                    <album>
                        <table>tbl_album</table>
                    </album>
                </entities>
                <entities>
                    <image>
                        <table>tbl_image</table>
                    </image>
                </entities>
            </Hungbd_Album_resource>
        </models>
        <blocks>
            <Hungbd_Album>
                <class>Hungbd_Album_Block</class>
            </Hungbd_Album>
        </blocks>
        <helpers>
            <Hungbd_Album>
                <class>Hungbd_Album_Helper</class>
            </Hungbd_Album>
        </helpers>
        <resources>
            <Hungbd_Album_setup>
                <setup>
                    <module>Hungbd_Album</module>
                </setup>
            </Hungbd_Album_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hungbd_Album after="Mage_Adminhtml">Hungbd_Album_Adminhtml</Hungbd_Album>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>