<?xml version="1.0"?>
<config>
    <modules>
        <Hungbd_Demoproduct>
            <version>0.1.0</version>
        </Hungbd_Demoproduct>
    </modules>
    <frontend>
        <routers>
            <Demoproduct>
                <use>standard</use>
                <args>
                    <module>Hungbd_Demoproduct</module>
                    <frontName>demoproduct</frontName>
                </args>
            </Demoproduct>
        </routers>
    </frontend>
</config>