<?xml version="1.0"?>
<config>
    <modules>
        <Final_Album>
            <version>0.1.0</version>
        </Final_Album>
    </modules>
    <global>
        <models>
            <album2>
                <class>Final_Album_Model</class>
                <resourceModel>album_resource</resourceModel>
            </album2>
            <album_resource>
                <class>Final_Album_Model_Resource</class>
            </album_resource>
            <entities>
                <albumtable>
                    <table>album</table>
                </albumtable>
                <imagetable>
                    <table>image</table>
                </imagetable>
            </entities>
        </models>
        <blocks>
            <album>
                <class>Final_Album_Block</class>
            </album>
        </blocks>
        <helpers>
            <album>
                <class>Final_Album_Helper</class>
            </album>
        </helpers>
        <resources>
            <album_setup>
                <setup>
                    <module>Final_Album</module>
                </setup>
            </album_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <testalbum>
                <use>standard</use>
                <args>
                    <frontName>testalbum</frontName>
                    <module>Final_Album</module>
                </args>
            </testalbum>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <album after="Mage_Adminhtml">Final_Album_Adminhtml</album>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>