<?xml version="1.0"?>
<config>
    <modules>
        <Datdt_Assignment5>
            <version>0.1.0</version>
        </Datdt_Assignment5>
    </modules>
    <frontend>
        <routers>
            <Assignment5>
                <use>standard</use>
                <args>
                    <module>Datdt_Assignment5</module>
                    <frontName>assignment5</frontName>
                </args>
            </Assignment5>
        </routers>
        <layout>
            <updates>
                <Datdt_Assignment5>
                    <file>assignment5.xml</file>
                </Datdt_Assignment5>
            </updates>
        </layout>
    </frontend>
</config>