<config>
    <modules>
        <Luannt3_Album>
            <version>0.1.0</version>
        </Luannt3_Album>
    </modules>
    <frontend>
        <routers>
            <Album>
                <use>standard</use>
                <args>
                    <module>Luannt3_Album</module>
                    <frontName>album</frontName>
                </args>
            </Album>
        </routers>
    </frontend>
    <global>
        <helpers>
            <luannt3_album>
                <class>Luannt3_Album_Helper</class>
            </luannt3_album>
        </helpers>
        <resources>
            <luannt3_album_setup>
                <setup>
                    <module>Luannt3_Album</module>
                </setup>
            </luannt3_album_setup>
        </resources>
        <blocks>
            <albumblock>
                <class>Luannt3_Album_Block</class>
            </albumblock>
        </blocks>
        <models>
            <album>
                <class>Luannt3_Album_Model</class>
                <resourceModel>album_resource</resourceModel>
            </album>
            <album_resource>
                <class>Luannt3_Album_Model_Resource</class>
                <entities>
                    <menu_item>
                        <table>malbum</table>
                        <table>image</table>
                    </menu_item>

                </entities>
            </album_resource>

        </models>
        <resources>
            <luannt3_album_setup>
                <setup>
                    <module>Luannt3_Album</module>
                </setup>
            </luannt3_album_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Luannt3_Album after="Mage_Adminhtml">Luannt3_Album_Adminhtml</Luannt3_Album>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
