<?xml version="1.0"?>
<config>
	<modules>
		<Tungtt_MageFinal>
			<version>0.1.0</version>
		</Tungtt_MageFinal>
	</modules>
	<global>
		<helpers>
			<tungtt_magefinal>
				<class>Tungtt_MageFinal_Helper</class>
			</tungtt_magefinal>
		</helpers>
		<resources>
			<tungtt_magefinal_setup>
				<setup>
					<module>Tungtt_MageFinal</module>
				</setup>
			</tungtt_magefinal_setup>
		</resources>
		<blocks>
			<magefinal>
				<class>Tungtt_MageFinal_Block</class>
			</magefinal>
		</blocks>
		<models>
			<myalbum>
				<class>Tungtt_MageFinal_Model</class>
				<resourceModel>myalbum_resource</resourceModel>
			</myalbum>
			<myalbum_resource>
				<class>Tungtt_MageFinal_Model_Resource</class>
				<entities>
					<album>
						<table>tungtt_album</table>
					</album>
					<albumimage>
						<table>tungtt_image</table>
					</albumimage>
				</entities>
			</myalbum_resource>
		</models>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Tungtt_MageFinal after="Mage_Adminhtml">Tungtt_MageFinal_Adminhtml</Tungtt_MageFinal>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>
