<?xml version="1.0"?>
<config>
    <modules>
        <Ass7_Mega>
            <version>0.1.0</version>
        </Ass7_Mega>
    </modules>
    <global>
        <helpers>
            <ass7_mega>
                <class>Ass7_Mega_Helper</class>
            </ass7_mega>
        </helpers>
        <blocks>
            <demomega>
                <class>Ass7_Mega_Block</class>
            </demomega>
        </blocks>
        <models>
            <mymenu>
                <class>Ass7_Mega_Model</class>
                <resourceModel>mymenu_resource</resourceModel>
            </mymenu>
            <mymenu_resource>
                <class>Ass7_Mega_Model_Resource</class>
                <entities>
                    <menu>
                        <table>menu</table>
                    </menu>
                </entities>
            </mymenu_resource>
        </models>
        <resources>
            <ass7_mega_setup>
                <setup>
                    <module>Ass7_Mega</module>
                </setup>
            </ass7_mega_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <megamenu>
                <use>standard</use>
                <args>
                    <frontName>megamenu</frontName>
                    <module>Ass7_Mega</module>
                </args>
            </megamenu>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ass7_Mega after="Mage_Adminhtml">Ass7_Mega_Adminhtml</Ass7_Mega>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--<adminhtml>-->
        <!--&lt;!&ndash; Khai báo file layout trong admin&ndash;&gt;-->
        <!--<layout>-->
            <!--<updates>-->
                <!--<mega>-->
                    <!--<file>megamenu.xml</file>-->
                <!--</mega>-->
            <!--</updates>-->
        <!--</layout>-->
    <!--</adminhtml>-->
</config>