<?xml version="1.0"?>
<config>
    <modules>
        <Ass7_Mega>
            <version>0.1.0</version>
        </Ass7_Mega>
    </modules>
    <global>
        <helpers>
            <ass7_mega>
                <class>Ass7_Mega_Helper</class>
            </ass7_mega>
        </helpers>
        <resources>
            <ass7_mega_setup>
                <setup>
                    <module>Ass7_Mega</module>
                </setup>
            </ass7_mega_setup>
        </resources>
        <blocks>
            <demomega>
                <class>Ass7_Mega_Block</class>
            </demomega>
        </blocks>
        <models>
            <mymenu>
                <class>Ass7_Mega_Model</class>
                <resourceModel>mymenu_resource</resourceModel>
            </mymenu>
            <mymenu_resource>
                <class>Ass7_Mega_Model_Resource</class>
                <entities>
                    <menu>
                        <table>ass7_menu</table>
                    </menu>
                </entities>
            </mymenu_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <megamenu>
                <use>standard</use>
                <args>
                    <frontName>megamenu</frontName>
                    <module>Ass7_Mega</module>
                </args>
            </megamenu>
        </routers>
    </frontend>
</config>