<config>
    <modules>
        <Datdt_Album>
            <version>0.1.0</version>
        </Datdt_Album>
    </modules>
    <frontend>
        <routers>
            <Album>
                <use>standard</use>
                <args>
                    <module>Datdt_Album</module>
                    <frontName>album</frontName>
                </args>
            </Album>
        </routers>
    </frontend>
        <global>
            <helpers>
                <datdt_album>
                    <class>Datdt_Album_Helper</class>
                </datdt_album>
            </helpers>
            <resources>
                <datdt_album_setup>
                    <setup>
                        <module>Datdt_Album</module>
                    </setup>
                </datdt_album_setup>
            </resources>
            <blocks>
                <albumblock>
                    <class>Datdt_Album_Block</class>
                </albumblock>
            </blocks>
            <models>
                <album>
                    <class>Datdt_Album_Model</class>
                    <resourceModel>album_resource</resourceModel>
                </album>
                <album_resource>
                    <class>Datdt_Album_Model_Resource</class>
                    <entities>
                        <menu_item>
                            <table>menu_item</table>
                            <table>mega_menu</table>
                        </menu_item>
                    </entities>
                </album_resource>
            </models>
            <resources>
                <datdt_album_setup>
                    <setup>
                        <module>Datdt_Album</module>
                    </setup>
                </datdt_album_setup>
            </resources>
        </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Datdt_Album after="Mage_Adminhtml">Datdt_Album_Adminhtml</Datdt_Album>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
