<?xml version="1.0"?>
<config>
    <modules>
        <Datdt_Assignment6>
            <version>0.1.0</version>
        </Datdt_Assignment6>
    </modules>
    <frontend>
        <routers>
            <Datdt_Assignment6>
                <use>standard</use>
                <args>
                    <module>Datdt_Assignment6</module>
                    <frontName>demoasm6</frontName>
                </args>
            </Datdt_Assignment6>
        </routers>
        <layout>
            <updates>
                <Datdt_Assignment6>
                    <file>demoasm6.xml</file>
                </Datdt_Assignment6>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <myblock>
                <class>Datdt_Assignment6_Block</class>
            </myblock>
        </blocks>
        <resources>
            <asm6ex1_setup>
                <setup>
                    <module>Datdt_Assignment6</module>
                </setup>
            </asm6ex1_setup>
        </resources>
        <models>
            <demoasm6>
                <class>Datdt_Assignment6_Model</class>
                <resourceModel>demoasm6_resource</resourceModel>
            </demoasm6>
            <demoasm6_resource>
                <class>Datdt_Assignment6_Model_Resource</class>
                <entities>
                    <student>
                        <table>student</table>
                    </student>
                </entities>
            </demoasm6_resource>
        </models>
    </global>
</config>