<?xml version="1.0"?>
<config>
    <modules>
        <Hungbd_Megamenu>
            <version>0.1.0</version>
        </Hungbd_Megamenu>
    </modules>
    <global>
        <helpers>
            <hungbd_megamenu>
                <class>Hungbd_Megamenu_Helper</class>
            </hungbd_megamenu>
            <atwix_editor>
                <class>Atwix_Editor_Helper</class>
            </atwix_editor>
        </helpers>
        <resources>
            <Hungbd_Megamenu_setup>
                <setup>
                    <module>Hungbd_Megamenu</module>
                </setup>
            </Hungbd_Megamenu_setup>
        </resources>
        <blocks>
            <demomodule>
                <class>Hungbd_Megamenu_Block</class>
            </demomodule>
        </blocks>
        <models>
            <mymodel>
                <class>Hungbd_Megamenu_Model</class>
                <resourceModel>mymodel_resource</resourceModel>
            </mymodel>
            <mymodel_resource>
                <class>Hungbd_Megamenu_Model_Resource</class>
                <entities>
                    <menuinfo>
                        <table>menu_infomation</table>
                    </menuinfo>
                </entities>
                <entities>
                    <menuitem>
                        <table>menu_item</table>
                    </menuitem>
                </entities>
            </mymodel_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <testroute>
                <use>standard</use>
                <args>
                    <frontName>testmodule</frontName>
                    <module>Hungbd_Megamenu</module>
                </args>
            </testroute>
        </routers>
        <layout>
            <updates>
                <Hungbd_Megamenu>
                    <file>demomodule.xml</file>
                </Hungbd_Megamenu>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hungbd_Megamenu after="Mage_Adminhtml">Hungbd_Megamenu_Adminhtml</Hungbd_Megamenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>