<?xml version="1.0"?>
<config>
    <modules>
        <Hungbd_Giaodien>
            <version>0.1.0</version>
        </Hungbd_Giaodien>
    </modules>
    <frontend>
        <routers>
            <Giaodien>
                <use>standard</use>
                <args>
                    <module>Hungbd_Giaodien</module>
                    <frontName>giaodien</frontName>
                </args>
            </Giaodien>
        </routers>
    </frontend>
    <global>
        <blocks>
            <myblock>
                <class>Hungbd_Giaodien_Block</class>
            </myblock>
        </blocks>
    </global>
</config>