<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Phoenix
 * @package     Phoenix_Moneybookers
 * @copyright   Copyright (c) 2017 Phoenix Medien GmbH & Co. KG (http://www.phoenix-medien.de)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Training_Demoproduct>
            <version>1.6.0.0</version>
        </Training_Demoproduct>
    </modules>
    <frontend>
        <routers>
            <Demoproduct>
                <use>standard</use>
                <args>
                    <module>Training_Demoproduct</module>
                    <frontName>demoproduct</frontName>
                </args>
            </Demoproduct>
        </routers>

    </frontend>
    <global>
        <resources>
            <demoproduct_setup>
                <setup>
                    <module>Training_Demoproduct</module>
                </setup>
            </demoproduct_setup>
        </resources>
        <models>
            <demoproduct>
                <class>Baont_Demoproduct_Model</class>
            </demoproduct>
        </models>
        <events>
            <catalog_product_collection_load_after>
                <observers>
                    <changelistprice>
                        <class>demoproduct/observer</class>
                        <method>changeListPrice</method>
                    </changelistprice>
                </observers>
            </catalog_product_collection_load_after>
            <catalog_controller_product_view>
                <observers>
                    <changeviewprice>
                        <class>demoproduct/observer</class>
                        <method>changeViewPrice</method>
                    </changeviewprice>
                </observers>
            </catalog_controller_product_view>
            <checkout_cart_product_add_after>
                <observers>
                    <changecartprice>
                        <class>demoproduct/observer</class>
                        <method>changeCartPrice</method>
                    </changecartprice>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </global>
</config>