<?xml version="1.0"?>
<config>
    <modules>
        <Dangnd_Asm6Ex1>
            <version>0.1.0</version>
        </Dangnd_Asm6Ex1>
    </modules>
    <frontend>
        <routers>
            <Dangnd_Asm6Ex1>
                <use>standard</use>
                <args>
                    <module>Dangnd_Asm6Ex1</module>
                    <frontName>asm61</frontName>
                </args>
            </Dangnd_Asm6Ex1>
        </routers>
        <layout>
            <updates>
                <Dangnd_Asm6Ex1>
                    <file>asm6_1.xml</file>
                </Dangnd_Asm6Ex1>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <myblock>
                <class>Dangnd_Asm6Ex1_Block</class>
            </myblock>
        </blocks>
        <resources>
            <asm6ex1_setup>
                <setup>
                    <module>Dangnd_Asm6Ex1</module>
                </setup>
            </asm6ex1_setup>
        </resources>
        <models>
            <asm61>
                <class>Dangnd_Asm6Ex1_Model</class>
                <resourceModel>asm61_resource</resourceModel>
            </asm61>
            <asm61_resource>
                <class>Dangnd_Asm6Ex1_Model_Resource</class>
                <entities>
                    <student>
                        <table>student</table>
                    </student>
                </entities>
            </asm61_resource>
        </models>
    </global>
</config>