<?xml version="1.0" ?>
<config>
    <modules>
        <Layout_Testlayout>
            <version>0.1.0</version>
        </Layout_Testlayout>
    </modules>
    <frontend>
        <routers>
            <testlayout>
                <use>standard</use>
                <args>
                    <module>Layout_Testlayout</module>
                    <frontName>layout</frontName>
                </args>
            </testlayout>
        </routers>
        <layout>
            <updates>
                <testlayout>
                    <file>testlayout.xml</file>
                </testlayout>
            </updates>
        </layout>
    </frontend>
</config>