<?xml version="1.0"?>
<config>
    <modules>
        <NhatBQ_Album>
            <version>0.1.0</version>
        </NhatBQ_Album>
    </modules>
    <global>
        <helpers>
            <nhatbq_album>
                <class>NhatBQ_Album_Helper</class>
            </nhatbq_album>
        </helpers>
        <resources>
            <nhatbq_album_setup>
                <setup>
                    <module>Nhatbq_Album</module>
                </setup>
            </nhatbq_album_setup>
        </resources>
        <blocks>
            <album>
                <class>NhatBQ_Album_Block</class>
            </album>
        </blocks>
        <models>
            <myalbum>
                <class>NhatBQ_Album_Model</class>
                <resourceModel>myalbum_resource</resourceModel>
            </myalbum>
            <myalbum_resource>
                <class>NhatBQ_Album_Model_Resource</class>
                <entities>
                    <album>
                        <table>nhatbq_photo</table>
                    </album>
                </entities>
            </myalbum_resource>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <NhatBQ_Album after="Mage_Adminhtml">NhatBQ_Album_Adminhtml</NhatBQ_Album>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>