<?xml version="1.0"?>
<config>
    <modules>
        <Assignment7_Megamenu>
            <version>0.1.0</version>
        </Assignment7_Megamenu>
    </modules>
    <global>
        <helpers>
            <assignment7_megamenu>
                <class>Assignment7_Megamenu_Helper</class>
            </assignment7_megamenu>
        </helpers>
        <resources>
            <assignment7_megamenu_setup>
                <setup>
                    <module>Assignment7_Megamenu</module>
                </setup>
            </assignment7_megamenu_setup>
        </resources>
        <blocks>
            <demomodule>
                <class>Assignment7_Megamenu_Block</class>
            </demomodule>
        </blocks>
        <models>
            <mymodel>
                <class>Assignment7_Megamenu_Model</class>
                <resourceModel>mymodel_resource</resourceModel>
            </mymodel>
            <mymodel_resource>
                <class>Assignment7_Megamenu_Model_Resource</class>
                <entities>
                    <order>
                        <table>baont_order</table>
                    </order>
                </entities>
            </mymodel_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <testroute>
                <use>standard</use>
                <args>
                    <frontName>testmodule</frontName>
                    <module>Assignment7_Megamenu</module>
                </args>
            </testroute>
        </routers>

    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Assignment7_Megamenu after="Mage_Adminhtml">Assignment7_Megamenu_Adminhtml</Assignment7_Megamenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>