<?xml version="1.0"?>
<config>
    <modules>
        <TestVendor_Demomodule>
            <version>0.1.0</version>
        </TestVendor_Demomodule>
    </modules>
    <global>
        <helpers>
            <testvendor_demomodule>
                <class>TestVendor_Demomodule_Helper</class>
            </testvendor_demomodule>
        </helpers>
        <resources>
            <testvendor_demomodule_setup>
                <setup>
                    <module>TestVendor_Demomodule</module>
                </setup>
            </testvendor_demomodule_setup>
        </resources>
        <blocks>
            <demomodule>
                <class>TestVendor_Demomodule_Block</class>
            </demomodule>
        </blocks>
    </global>
    <frontend>
        <routers>
            <testmodule>
                <use>standard</use>
                <args>
                    <frontName>testmodule</frontName>
                    <module>TestVendor_Demomodule</module>
                </args>
            </testmodule>
        </routers>
    </frontend>
</config>