<?xml version="1.0"?>
<config>
    <modules>
        <TestVendor_Demomodule>
            <version>0.1.0</version>
        </TestVendor_Demomodule>
    </modules>
    <global>
    <helpers>
        <testvendor_demomodule>
            <class>TestVendor_Demomodule_Helper</class>
        </testvendor_demomodule>
    </helpers>
    <resources>
        <testvendor_demomodule_setup>
            <setup>
                <module>TestVendor_Demomodule</module>
            </setup>
        </testvendor_demomodule_setup>
    </resources>
    <blocks>
        <demomodule>
            <class>TestVendor_Demomodule_Block</class>
        </demomodule>
    </blocks>
    <models>
        <mymodel>
            <class>TestVendor_Demomodule_Model</class>
            <resourceModel>mymodel_resource</resourceModel>
        </mymodel>
        <mymodel_resource>
            <class>TestVendor_Demomodule_Model_Resource</class>
            <entities>
                <order2>
                    <table>duongdd_order</table>
                </order2>
            </entities>
        </mymodel_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <testroute>
                <use>standard</use>
                <args>
                    <frontName>testmodule</frontName>
                    <module>TestVendor_Demomodule</module>
                </args>
            </testroute>
        </routers>
        <layout>
            <updates>
                <testvendor_demomodule>
                    <file>demomodule.xml</file>
                </testvendor_demomodule>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <TestVendor_Demomodule after="Mage_Adminhtml">TestVendor_Demomodule_Adminhtml</TestVendor_Demomodule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>