<?xml version="1.0"?>
<config>
    <modules>
        <NhatBQ_Assignment7>
            <version>0.1.0</version>
        </NhatBQ_Assignment7>
    </modules>
    <global>
        <helpers>
            <nhatbq_assignment>
                <class>NhatBQ_Assignment7_Helper</class>
            </nhatbq_assignment>
        </helpers>
        <resources>
            <nhatbq_assignment7_setup>
                <setup>
                    <module>NhatBQ_Assignment7</module>
                </setup>
            </nhatbq_assignment7_setup>
        </resources>
        <blocks>
            <assignment7>
                <class>NhatBQ_Assignment7_Block</class>
            </assignment7>
        </blocks>
        <models>
            <mymodel>
                <class>NhatBQ_Assignment7_Model</class>
                <resourceModel>mymodel_resource</resourceModel>
            </mymodel>
            <mymodel_resource>
                <class>NhatBQ_Assignment7_Model_Resource</class>
                <entities>
                    <order2>
                        <table>nhatbq_order</table>
                    </order2>
                </entities>
            </mymodel_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <testroute>
                <use>standard</use>
                <args>
                    <frontName>ass7</frontName>
                    <module>NhatBQ_Assignment7</module>
                </args>
            </testroute>
        </routers>
        <layout>
            <updates>
                <nhatbq_assignment7>
                    <file>assignment7.xml</file>
                </nhatbq_assignment7>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <NhatBQ_Assignment7 after="Mage_Adminhtml">NhatBQ_Assignment7_Adminhtml</NhatBQ_Assignment7>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>