<config>
    <modules>
        <Tungtt_DemoGiaodien>
            <version>0.1.0</version>
        </Tungtt_DemoGiaodien>
    </modules>

    <global>
        <blocks>

            <helpers>
                <tungtt_demolayout>
                    <class>Tungtt_DemoGiaodien_Helper</class>
                </tungtt_demolayout>
            </helpers>

            <resources>
                <tungtt_demolayout_setup>
                    <setup>
                        <module>TestVendor_Demomodule</module>
                    </setup>
                </tungtt_demolayout_setup>
            </resources>

            <myblock>
                <class>Tungtt_DemoGiaodien_Block</class>
            </myblock>
        </blocks>

    </global>

    <frontend>
        <routers>

            <DemoGiaodien>
                <use>standard</use>
                <args>
                    <module>Tungtt_DemoGiaodien</module>
                    <frontName>demogiaodien</frontName>
                </args>
            </DemoGiaodien>
        </routers>
    </frontend>
</config>