<config>
    <modules>
        <Luannt3_Student>
            <version>0.1.0</version>
        </Luannt3_Student>
    </modules>
    <frontend>
        <routers>
            <Student>
                <use>standard</use>
                <args>
                    <module>Luannt3_Student</module>
                    <frontName>student</frontName>
                </args>
            </Student>
        </routers>
    </frontend>
</config>
