<?xml version="1.0"?>
<config>
    <modules>
        <Dangnd_MegaMenu>
            <version>0.1.0</version>
        </Dangnd_MegaMenu>
    </modules>
    <global>
        <resources>
            <megamenu_setup>
                <setup>
                    <module>Dangnd_MegaMenu</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </megamenu_setup>
        </resources>
        <models>
            <megamenu>
                <class>Dangnd_MegaMenu_Model</class>
                <resourceModel>megamenu_resource</resourceModel>
            </megamenu>
            <megamenu_resource>
                <class>Dangnd_MegaMenu_Model_Resource</class>
                <entities>
                    <menu>
                        <table>mytbl_menu</table>
                    </menu>
                    <item>
                        <table>mytbl_item</table>
                    </item>
                    <!--<menu>-->
                        <!--<table>megamenu_menu_entity</table>-->
                    <!--</menu>-->
                    <!--<item>-->
                        <!--<table>megamenu_item_entity</table>-->
                    <!--</item>-->
                    <!--<menu_attr>-->
                        <!--<table>megamenu_menu_attribute</table>-->
                    <!--</menu_attr>-->
                    <!--<item_attr>-->
                        <!--<table>megamenu_item_attribute</table>-->
                    <!--</item_attr>-->
                </entities>
            </megamenu_resource>
        </models>
        <blocks>
            <megamenu>
                <class>Dangnd_MegaMenu_Block</class>
            </megamenu>
        </blocks>
        <helpers>
            <megamenu>
                <class>Dangnd_MegaMenu_Helper</class>
            </megamenu>
        </helpers>
    </global>
    <frontend>
        <routers>
            <megamenu>
                <use>standard</use>
                <args>
                    <module>Dangnd_MegaMenu</module>
                    <frontName>mymenu</frontName>
                </args>
            </megamenu>
        </routers>
        <layout>
            <updates>
                <dangnd_megamenu>
                    <file>megamenu.xml</file>
                </dangnd_megamenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dangnd_MegaMenu before="Mage_Adminhtml">Dangnd_MegaMenu_Adminhtml</Dangnd_MegaMenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>