<?xml version="1.0"?>
<config>
    <modules>
        <Anhnt9_Demoproduct>
            <version>0.1.0</version>
        </Anhnt9_Demoproduct>
    </modules>
    <frontend>
        <routers>
            <demoproduct>
                <use>standard</use>
                <args>
                    <module>Anhnt9_Demoproduct</module>
                    <frontName>assignment</frontName>
                </args>
            </demoproduct>
        </routers>
        <layout>
            <updates>
                <demoproduct_index_index>
                    <file>demoproduct.xml</file>
                </demoproduct_index_index>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <myblock>
                <class>Anhnt9_Demoproduct_Block</class>
            </myblock>
        </blocks>
    </global>
</config>